<div class="row w-100">
  <div class="row">
    <div
      class="col text-end text-uppercase text-muted fs-1 mt-5 mb-5 mx-4"
    >About us</div>
  </div>
  <div class="row">
    <div class="col text-end text-uppercase text-muted fs-4 mx-4">We are a
      diverse group of professionals who love to code and by doing so create
      solutions that improve people's everyday lives.<br /><br />
      Our app targets online shopping activities and tracks and consolidates all
      user's orders and their shipments into a single and clean dashboard. Users
      can save, edit and delete shipments, their favourite delivery addresses,
      and edit their profiles and check the order shipment status. The app also
      includes a few security features under the hood for safer sign-up and
      login processes.<br /><br />
      We are very excited about having creating this full-stack app using some
      interesting technologies, tools and frameworks like JavaScript, Bootstrap
      UI Framework, npm package manager, Express.js, express-handlebars,
      express-sessions, connect-session-sequelize, MVC architectural pattern,
      Sequelize ORM, MySQL, bcrypt package, dotenv package, Insomnia API Design
      Platform, eslint, nodemon etc.<br /><br />
      We hope PACK ON TRACK will help you find more time for your priorities and
      enjoy receiving deliveries even more than ever before!</div>
  </div>
</div>