    <div class="row pt-5 pe-5">
        <div class="col"></div>

          <div class="col-12 ms-4">
            <div class="card">
              <div class="card-body">
                  <p class="text-uppercase fs-4 text-muted mb-5 fw-bold">Dashboard</p>
                    <div class="row">
                      <div class="col-2 mb-4">
                          <a href="#" class="btn btn-lg btn-secondary text-uppercase">+ Shipment</a>
                      </div>

                      <div class="col-2 mb-4">
                        <a href="#" class="btn btn-lg btn-secondary text-uppercase">+ Keyword / Address</Address></a>
                      </div>
                    </div>
                      <div class="bg-light border">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">

                              <button class="accordion-button collapsed text-uppercase fs-5 text-muted" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Click for more details ...
                              </button>

                                <form class="row">
                                  
                                  <!-- From database -->
                                  <div class="col-2 form-floating mb-2 mt-3 ms-3">
                                    <input type="date-arrival" class="form-control" id="floatingInputGrid" placeholder="date-arrival">
                                    <label class="text-uppercase text-muted fs-5 ms-3" for="floatingInputGrid">Day of arrival</label>
                                  </div>
                                  
                                  <!-- From database -->
                                  <div class="col-md-3 form-floating mb-2 mt-3">
                                      <input type="orderDetails" class="form-control" id="floatingInputGrid" placeholder="order-deteails">
                                      <label class="text-uppercase text-muted fs-5 ms-3" for="floatingInputGrid">Ordered from ...</label>
                                  </div>
                                  
                                  <!-- From database -->
                                  <div class="col-1 form-floating mb-2 mt-3">
                                    <input type="date-arrival" class="form-control" id="floatingInputGrid" placeholder="date-arrival">
                                    <label class="text-uppercase text-muted fs-5 ms-3" for="floatingInputGrid">Courier</label>
                                  </div>

                                  <div class="col-2 form-floating mb-2 mt-3">
                                    <input type="keyword" class="form-control" id="floatingInputGrid" placeholder="keyword">
                                    <label class="text-uppercase text-muted fs-5 ms-3" for="floatingInputGrid">Address keyword</label>
                                  </div>

                                  <div class="col-2 form-floating mb-2 mt-3">
                                    <input type="trackingnumber" class="form-control" id="floatingInputGrid" placeholder="tracking number">
                                    <label class="text-uppercase text-muted fs-5 ms-3" for="floatingInputGrid">Tracking number</label>
                                  </div>

                                  <div class="col-auto mb-2 mt-3">
                                    <a href="#" class="btn btn-lg btn-secondary text-uppercase"><i class="far fa-edit"></i></a>
                                  </div>

                                  <div class="col-auto mb-2 mt-3">
                                    <a href="#" class="btn btn-lg btn-secondary text-uppercase"><i class="far fa-trash-alt"></i></a>
                                  </div>
                                  
                                </form>  
                              </h2>

                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                  <form class="row">
                                    <div class="col-5 form-floating mb-2 mt-1">
                                      <input type="description" class="form-control" id="floatingInputGrid" placeholder="description">
                                      <label class="text-uppercase text-muted fs-5 ms-3 text-wrap" for="floatingInputGrid">Order description</label>
                                    </div>

                                    <div class="col-3 form-floating mb-2 mt-1">
                                        <input type="orderNumber" class="form-control" id="floatingInputGrid" placeholder="order-number">
                                        <label class="text-uppercase text-muted fs-5 ms-3" for="floatingInputGrid">Order number</label>
                                    </div>

                                    <div class="col-3 form-floating mb-2 mt-1 ms-3">
                                        <input type="date-made" class="form-control" id="floatingInputGrid" placeholder="order-made">
                                        <label class="text-uppercase text-muted fs-5 ms-3" for="floatingInputGrid">Order placed on ...</label>
                                    </div>
                                  </form>
</div>
</div>
                        </div>
                      </div>                                    
              </div>
            </div>
          </div>
    </div>
