<div class="row w-100">
  <div class="row">
    <div
      class="col text-end text-uppercase text-muted fs-1 mt-5 mb-5 mx-4"
    >FAQ</div>
  </div>
  <div class="row">
    <div class="col text-end text-uppercase text-muted fs-4 mx-4"><span class="fw-bold">How do I
      register?</span><br />
      Click the SIGNUP option in the top right corner of the page and fill in
      the sign up form. Then click the icon below to submit the details. That is
      it.
      <br /><br /><span class="fw-bold">How do I delete an order?</span>
      <br />Click on DASHBOARD in the top right area of the page. If you are not
      logged in, you 'll be asked to do so. On the dashboard page, find the
      order (row) you want to delete. Click the delete icon at the end of the
      order's row.
      <br /><br /><span class="fw-bold">How do I add a new address?</span><br />
      Click on DASHBOARD in the top right area of the page. If you are not
      logged in, you 'll be asked to do so. On the dashboard page, click the +
      Address button in the top left area of the page. Fill in the form and
      click Save.</div>
  </div>