

  <main class="background">
      <body>
          <div class="row w-100">
              <div class="row">
                  <div class="col text-end text-uppercase text-muted fs-1 mt-5 mb-5 mx-4">Catching Haedline</div>
              </div>
              <div class="row">
                  <div class="col text-end text-uppercase text-muted fs-4 mx-4">ching Subline / Teaser: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi odio,<br>praesentium eum hic quasi ex perspiciatis ab animi mollitia laboriosam quidem nemo sit perferendis!<br>Assumenda dolore voluptatibus amet maxime<br><br><br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi odio,<br>praesentium eum hic quasi ex perspiciatis ab animi mollitia laboriosam quidem nemo sit perferendis!<br>Assumenda dolore voluptatibus amet maxime</div>
    
              </div>
              <div class="">
                  <div class="">
                  <a href="#" class="btn btn-lg btn-secondary text-uppercase pull-right">Sing up!</a>
                  </div>
              </div>

          </div>
      </body>
  </main>

