<div class="row w-100">
  <div class="row">
    <div
      class="col text-end text-uppercase text-muted fs-1 mt-5 mb-5 mx-4"
    >Shop. And let it go. We keep the track for you.</div>
  </div>
  <div class="row">
    <div class="col text-end text-uppercase text-muted fs-4 mx-4">Find details about all your current online orders and shipments in one place. <br>
     Manage them comfortably from your dashboard to always stay on top.</div>

  </div>
  <div class="">
    <div class="">
      <a
        href="/login"
        class="btn btn-lg btn-secondary text-uppercase pull-right"
      >Sign up!</a>
    </div>
  </div>

</div>