<div class="row w-100 pt-5 pe-5">
  <div class="col"></div>

  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <p class="text-uppercase fs-4 text-muted mb-5 fw-bold">Login</p>
        <form class="login-form">
          <div class="form-floating mb-5">
            <input
              type="username"
              class="form-control"
              id="username-login"
              placeholder="username"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="floatingInputGrid"
            >Username</label>
          </div>

          <div class="form-floating mb-5">
            <input
              type="password"
              class="form-control"
              id="password-login"
              placeholder="name@example.com"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="floatingInputGrid"
            >Password</label>
          </div>
        </form>

        <div>
          <a
            href="#"
            id="login-btn"
            class="btn btn-lg btn-secondary text-uppercase"
          ><i class="fas fa-sign-in-alt"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <p class="text-uppercase fs-4 text-muted mb-5 fw-bold">
          Sign up
        </p>
        <form class="signup-form">
          <div class="form-floating mb-4">
            <input
              type="username"
              class="form-control"
              id="floatingInputGrid"
              placeholder="username"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="floatingInputGrid"
            >Username</label>
          </div>

          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
          <div class="form-floating mb-5">
            <input
              type="email"
              class="form-control"
              id="floatingInputGrid"
              placeholder="email address"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="floatingInputGrid"
            >Email address</label>
          </div>

          <div class="form-floating mb-5">
            <input
              type="password"
              class="form-control"
              id="floatingInputGrid"
              placeholder="password"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="floatingInputGrid"
            >Password</label>
          </div>
        </form>

        <div>
          <a href="#" class="btn btn-lg btn-secondary text-uppercase"><i
              class="fas fa-user-plus"
            ></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>