<div class="row w-100 pt-5 pe-5">
  <div class="col"></div>

  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <p class="text-uppercase fs-4 text-muted mb-5 fw-bold">New Address</p>

        <form class="row">
          <div class="col-6 form-floating mb-4">
            <input
              type="firstname"
              class="form-control"
              id="floatingInputGrid"
              placeholder="first name"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="floatingInputGrid"
            >First name</label>
          </div>

          <div class="col-6 form-floating mb-4">
            <input
              type="keyword"
              class="form-control"
              id="floatingInputGrid"
              placeholder="surname"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="floatingInputGrid"
            >Surname</label>
          </div>
        </form>

        <form>
          <div class="col-12 form-floating mb-4">
            <input
              type="keyword"
              class="form-control"
              id="floatingInputGrid"
              placeholder="surname"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="floatingInputGrid"
            >Street No.</label>
          </div>
        </form>

        <form class="row">
          <div class="col-6 form-floating mb-4">
            <input
              type="company"
              class="form-control"
              id="floatingInputGrid"
              placeholder="company"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="floatingInputGrid"
            >Company</label>
          </div>

          <div class="col-6 form-floating mb-4">
            <input
              type="additionalInfo"
              class="form-control"
              id="floatingInputGrid"
              placeholder="additinalInfo"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="floatingInputGrid"
            >Additional info</label>
          </div>
        </form>

        <form>
          <div class="col-3 form-floating mb-4">
            <input
              type="postcode"
              class="form-control"
              id="floatingInputGrid"
              placeholder="postcode"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="floatingInputGrid"
            >Postal code</label>
          </div>
        </form>

        <form class="row">
          <div class="col-6 form-floating mb-5">
            <input
              type="city"
              class="form-control"
              id="floatingInputGrid"
              placeholder="city"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="floatingInputGrid"
            >City</label>
          </div>

          <div class="col-6 form-floating mb-5">
            <input
              type="country"
              class="form-control"
              id="floatingInputGrid"
              placeholder="country"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="floatingInputGrid"
            >Country</label>
          </div>
        </form>

        <form>
          <div class="col-6 form-floating mb-5">
            <input
              type="keyword"
              class="form-control"
              id="floatingInputGrid"
              placeholder="keyword"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="floatingInputGrid"
            >Keyword for this address (e.g. office, home)</label>
          </div>
        </form>

        <div>
          <a href="#" class="btn btn-lg btn-secondary text-uppercase"><i
              class="far fa-save"
            ></i></a>
        </div>
      </div>
    </div>

  </div>
</div>