<div class="row w-100 pt-5 pe-5">
    <div class="col"></div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <p class="text-uppercase fs-4 text-muted mb-5 fw-bold">Account info</p>

                <form class="row">
                    <div class="col-10 form-floating mb-5">
                        <input type="username" class="form-control" id="user-name" placeholder="username"
                            value="{{profile.user_name}}">
                        <label class="text-uppercase text-muted fs-5" for="user-name">Username</label>
                    </div>

                    <div class="col-auto">
                        <a href="#" class="btn btn-lg btn-secondary text-uppercase mb-5"><i class="far fa-edit"></i></a>
                    </div>
                </form>

                <form class="row">
                    <div class="col-10 form-floating ">
                        <input type="email" class="form-control" id="email" placeholder="email address"
                            value="{{profile.email}}">
                        <label class="text-uppercase text-muted fs-5" for="email">Email address</label>
                    </div>


                    <div class="col-auto">
                        <a href="#" class="btn btn-lg btn-secondary text-uppercase"><i class="far fa-edit"></i></a>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <p class="text-uppercase fs-4 text-muted mb-5 fw-bold">Address library</p>

                {{#each profile.addresses as |address|}}
                <form class="row">
                    <div class="col-auto">
                        <p class="text-uppercase fs-5 text-muted mb-5">Keyword:</p>
                    </div>

                    <!-- Dropdown -->
                    <div class="col-6 form-floating mb-5">
                        <label for="inputKeyword" class="visually-hidden">Keyword</label>
                        <p type="keyword" class="form-control" id="inputKeyword" placeholder="Keyword">
                            {{address.library_keyword}}</p>
                    </div>

                    <div class="col-auto">
                        <a href="/address/{{address.id}}" class="btn btn-lg btn-secondary text-uppercase"><i
                                class="far fa-edit"></i></a>
                    </div>

                    <div class="col-auto">
                        <a href="" class="btn btn-lg btn-secondary text-uppercase"><i class="far fa-trash-alt"></i></a>
                    </div>
                </form>
                {{/each}}

                <div class="mb-2">
                    <a href="/address" class="btn btn-lg btn-secondary text-uppercase">+ Keyword / Address</Address></a>
                </div>
            </div>
        </div>
    </div>
</div>