body,
html {
  height: 100%;
}

.background {
  background-image: url("/images/packs_1_small.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* body {
 background-image: url("../images/packs_1.jpg");
 background-color: #cccccc;
} */
